<a href="https://colab.research.google.com/github/JuliaBalakina/ALATA-2025/blob/main/2025_ALaTA_06_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dictionaries

A dictionary is like a list, but more general.

A set of indices in a dictionary is called **keys**. Each key maps to a **value**.

The association of a
key and a value is called a key-value pair or sometimes an item.

The curly brackets, {}, represent an empty dictionary.

To add items to the dictionary,you can use square brackets:

In [ ]:
languages = {}
languages ['one']= 'ein'
languages ['two']= 'zwei'
languages ['three']= 'drei'
print(languages)

{'one': 'ein', 'two': 'zwei', 'three': 'drei'}

If we print the dictionary, we see **a key-value pair** with a colon between the key
and value.

The key **'one'** maps the value **'ein'** etc.

The **len** function works on dictionaries; it returns the number of key-value pairs:

In [ ]:
print(len(languages))

3

The **in** operator works on dictionaries; it tells you whether something appears as
a key in the dictionary (appearing as a value is not good enough).

In [ ]:
'one' in languages

True

To see whether something appears as a value in a dictionary, you can use the
method **values**, which returns the values as a type that can be converted to a list,
and then use the **in** operator:

In [ ]:
val = list(languages.values())
print(val)
'zwei' in val

['ein', 'zwei', 'drei']

True

### Example

Suppose you are given a string and you want to count how many times each letter appears.

You could create a dictionary with characters as keys and counters as the
corresponding values.

The first time you see a character, you would add
an item to the dictionary.

After that you would increment the value of an
existing item.

In [ ]:
word = 'banana'
d = dict()
for i in word:
    if i not in d:
        d[i] = 1
    else:
        d[i] = d[i] + 1 ## +=1
print(d)

{'b': 1, 'a': 3, 'n': 2}

Dictionaries have a method called **get** that takes a key and a default value.

If the key appears in the dictionary, get returns the corresponding value; otherwise it
returns the default value.

For example:

In [ ]:
print(languages.get('one'))

ein

In [ ]:
print(languages.get('four'))

None

In [ ]:
print(languages.get('four',0))  ### if there is no key "four", return -0.
print(languages.get('four', 'not found')) ### if there is no key "four", return -"not found".

0
not found

You can delete a single key or clear the entire dictionary using special operations.

In [ ]:
del languages["three"]
print(languages)
languages.clear()
print(languages)

{'one': 'ein', 'two': 'zwei'}
{}

Dictionaries have three methods by which we can generate a list of keys, values, and a list of key-value pairs.

In [ ]:
d={'b': 1, 'a': 3, 'n': 2}
print(d.values())
print(d.keys())
print(d.items())

dict_values([1, 3, 2])
dict_keys(['b', 'a', 'n'])
dict_items([('b', 1), ('a', 3), ('n', 2)])

In [ ]:
my_dict = {'swear' : ['maldecir', 'jurar'], 'dream' : ['dormir', 'sueño']}
my_dict['swear'] ### a list

['maldecir', 'jurar']

In [ ]:
my_dict['swear'][0] ### we use index in a list of values

'maldecir'

The ***update()*** method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

In [ ]:
x = {'one': 10, 'two': 20, 'three': 10}
y = {'three': 30, 'four': 40, 'five': 50}
x.update(y)
print(x)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50}

In [ ]:
z = {'six': 60}
x.update (z)
print(x)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60}

The **update()** method adds element(s) to the dictionary if the key is not in the dictionary.

If the key is in the dictionary, it updates the key with the new value.

We may use update() method and pass tuple:

In [ ]:
x.update(seven = 70, eight = 80)
print(x)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}

### Loops

In the case of dictionaries, iteration (by default) occurs by keys:

In [ ]:
for i in x:
    print(i)

one
two
three
four
five
six
seven
eight

But the keys can be used to extract the corresponding values.

In [ ]:
for i in x:
    print(x[i])

10
20
30
40
50
60
70
80

You can also directly specify whether we are iterating over keys, over values, or over pairs of key-values:

In [ ]:
print(x)
for v in x.values():
    print(v)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}
10
20
30
40
50
60
70
80

In [ ]:
print(x)
for k in x.keys():
    print(k)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}
one
two
three
four
five
six
seven
eight

In [ ]:
print(x)
for v in x.items():
    print(v)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}
('one', 10)
('two', 20)
('three', 30)
('four', 40)
('five', 50)
('six', 60)
('seven', 70)
('eight', 80)

**Task**

1. Create an empty dictionary that contains information about the countries of the world, including their names and populations.

countries={}

2. Add additional keys to the dictionary to include information about the area of ​​each country in square kilometers.

In [ ]:
countries={}
countries ["name"]= ""
countries ["population"]= ""
countries2={"area": ""}
countries.update(countries2)
print(countries)

{'name': '', 'population': '', 'area': ''}

In [ ]:
countries={}
new = {'Madagascar': 9999, "USA": 1, "Greenland": 0}
countries.update(new)
print(countries)
area={'Madagascar': "9999 km", "USA": "0 km", "Greenland": "228 km"}
countries.update(area)
print(countries)

{'Madagascar': 9999, 'USA': 1, 'Greenland': 0}
{'Madagascar': '9999 km', 'USA': '0 km', 'Greenland': '228 km'}

**Task 1**

Go through the dictionary elements and print the key and values.

Input:

my_dict = {"name": "John", "age": 30, "height": 180}

Output:

name: John

age: 30

height: 180

In [ ]:
my_dict = {"name": "John", "age": 30, "height": 180}

name : John
age : 30
height : 180

In [ ]:
my_dict = {"name": "John", "age": 30, "height": 180}
for i in my_dict.items():
  print(i)

('name', 'John')
('age', 30)
('height', 180)

In [ ]:
my_dict = {"name": "John", "age": 30, "height": 180}
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: John
age: 30
height: 180

In [ ]:
my_dict = {"name": "John", "age": 30, "height": 180}
for key, value in my_dict.items():
    print(key,value)

name John
age 30
height 180

**Task 2**

Loop through the dictionary elements and print the sum of the values ​​in the dictionary.

my_dict = {"a": 1, "b": 2, "c": 3}

output: 6

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
sum = 0
for v in my_dict.values():
  sum += v
print(sum)

6

**Task 3**

Convert the list into a dictionary where the key is a word and the value is the number of letters.

original_list = ["apple", "banana", "kiwi"]

{'apple': 5, 'banana': 6, 'kiwi': 4}

In [ ]:
original_list = ["apple", "banana", "kiwi"]
new_list={}
for i in original_list:
  new_list[i]=len(i)
print(new_list)

{'apple': 5, 'banana': 6, 'kiwi': 4}

In [ ]:
original_list = ["apple", "banana", "kiwi"]
new_list={}

{'apple': 5, 'banana': 6, 'kiwi': 4}

In [ ]:
orig_list = ["apple", "banana", "kiwi"]

{'apple': 5, 'banana': 6, 'kiwi': 4}

**Task 4**

Loop through the dictionary elements and remove elements with null values.

my_dict = {"a": 0, "b": 1, "c": 0, "d": 2}

Output: {'b': 1, 'd': 2}

In [ ]:
my_dict = {"a": 0, "b": 1, "c": 0, "d": 2}
new_dict={}
for key, value in my_dict.items():
    if value != 0:
        new_dict[key] = value
print(new_dict)

{'b': 1, 'd': 2}

**Task 5**

We have a dictionary where the keys are cities and the values ​​are the number of people living in each city. We want to count the number of unique cities in this dictionary.

cities = {
    "Moscow": 10000000,

    "St.Petersburg": 5000000,

    "Kazan": 1200000,

    "Rostov-on_Don": 1000000,

    "Nizhny Novgorod": 1000000
}

Output: 5

In [ ]:
cities = {
    "Moscow": 10000000,
    "St.Petersburg": 5000000,
    "Kazan": 1200000,
    "Rostov-on_Don": 1000000,
    "Nizhny Novgorod": 1000000
}
print(len(cities))

5

### Task 6 H/A

You will be given an array of objects representing data about developers who have signed up to attend the coding meetup that you are organising for the first time.

Your task is to return the number of JavaScript developers coming from Europe.

For example, given the following list:

lst = [
  { 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'JavaScript' },
  
  { 'firstName': 'Maia', 'lastName': 'S.', 'country': 'Tahiti', 'continent': 'Oceania', 'age': 28, 'language': 'JavaScript' },
  
  { 'firstName': 'Shufen', 'lastName': 'L.', 'country': 'Taiwan', 'continent': 'Asia', 'age': 35, 'language': 'HTML' },
  
  { 'firstName': 'Sumayah', 'lastName': 'M.', 'country': 'Tajikistan', 'continent': 'Asia', 'age': 30, 'language': 'CSS' }
]

In [1]:
lst = [{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'JavaScript' },{ 'firstName': 'Maia', 'lastName': 'S.', 'country': 'Tahiti', 'continent': 'Oceania', 'age': 28, 'language': 'JavaScript' }]
count = 0
for i in lst:
    if i['continent'] == 'Europe' and i['language'] == 'JavaScript':
        count += 1
print(count)

1

In [3]:
lst = [
{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'JavaScript' },

{ 'firstName': 'Maia', 'lastName': 'S.', 'country': 'Tahiti', 'continent': 'Oceania', 'age': 28, 'language': 'JavaScript' },

{ 'firstName': 'Shufen', 'lastName': 'L.', 'country': 'Taiwan', 'continent': 'Asia', 'age': 35, 'language': 'HTML' },

{ 'firstName': 'Sumayah', 'lastName': 'M.', 'country': 'Tajikistan', 'continent': 'Asia', 'age': 30, 'language': 'CSS' }
]
count=0
for d in lst:
  v=d.values()
  print(v)
  if 'Europe' in v and 'JavaScript' in v:
    count+=1
print(count)

dict_values(['Noah', 'M.', 'Switzerland', 'Europe', 19, 'JavaScript'])
dict_values(['Maia', 'S.', 'Tahiti', 'Oceania', 28, 'JavaScript'])
dict_values(['Shufen', 'L.', 'Taiwan', 'Asia', 35, 'HTML'])
dict_values(['Sumayah', 'M.', 'Tajikistan', 'Asia', 30, 'CSS'])
1

### Task 7

You will be given an array of objects representing data about developers who have signed up to attend the next coding meetup that you are organising.

Your task is to return:

    **true** if at least one Ruby developer has signed up; or
    **false** if there will be no Ruby developers.

For example, given the following input array:

list = [
    
    { 'firstName': 'Sofia', 'lastName': 'I.', 'country': 'Argentina', 'continent': 'Americas', 'age': 35, 'language': 'Java' },
    
    { 'firstName': 'Lukas', 'lastName': 'X.', 'country': 'Croatia', 'continent': 'Europe', 'age': 35, 'language': 'Python' },
    
    { 'firstName': 'Madison', 'lastName': 'U.', 'country': 'United States', 'continent': 'Americas', 'age': 32, 'language': 'Ruby' }
    ]

In [4]:
list = [

{ 'firstName': 'Sofia', 'lastName': 'I.', 'country': 'Argentina', 'continent': 'Americas', 'age': 35, 'language': 'Java' },

{ 'firstName': 'Lukas', 'lastName': 'X.', 'country': 'Croatia', 'continent': 'Europe', 'age': 35, 'language': 'Python' },

{ 'firstName': 'Madison', 'lastName': 'U.', 'country': 'United States', 'continent': 'Americas', 'age': 32, 'language': 'Ruby' }
]
Ruby_count = 0
for developer in list:
    if developer['language'] == 'Ruby':
        Ruby_count += 1

if Ruby_count > 0:
  print ('True')
else: print ('False')

True

In [6]:
lst = [ { 'firstName': 'Sofia', 'lastName': 'I.', 'country': 'Argentina', 'continent': 'Americas', 'age': 35, 'language': 'Java' }, { 'firstName': 'Lukas', 'lastName': 'X.', 'country': 'Croatia', 'continent': 'Europe', 'age': 35, 'language': 'Python' }, { 'firstName': 'Madison', 'lastName': 'U.', 'country': 'United States', 'continent': 'Americas', 'age': 32, 'language': 'Ruby' } ]
Ruby_count=0
for d in lst:
  for value in d.values():
    if value == "Ruby":
      Ruby_count += 1
if Ruby_count >= 1:
  print('True')
else:
  print('False')

True

In [7]:
lst = [ { 'firstName': 'Sofia', 'lastName': 'I.', 'country': 'Argentina', 'continent': 'Americas', 'age': 35, 'language': 'Java' }, { 'firstName': 'Lukas', 'lastName': 'X.', 'country': 'Croatia', 'continent': 'Europe', 'age': 35, 'language': 'Python' }, { 'firstName': 'Madison', 'lastName': 'U.', 'country': 'United States', 'continent': 'Americas', 'age': 32, 'language': 'Ruby' } ]
Ruby_count = 0
for dictionary in lst:
    if dictionary.get('language') == 'Ruby':
      Ruby_count += 1
print(bool(Ruby_count))

True

### Task 8
Your task is to return an object which includes the count of each coding language represented at the meetup.

For example, given the following input array:

lst = [
    
    { 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },
    
    { 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },
    
    { 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },
    
    { 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
    ]

your should return the following object:

{ 'C': 2, 'JavaScript': 1, 'Ruby': 1 }

In [10]:
lst = [

{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },

{ 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },

{ 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },

{ 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
]
N_C=0
N_JavaScript=0
N_Ruby=0
for dictionary in lst:
  if dictionary['language'] == 'C':
    N_C += 1
  elif dictionary['language'] == "JavaScript":
    N_JavaScript += 1
  elif dictionary['language'] == 'Ruby':
    N_Ruby += 1
print(f"C: {N_C}, JavaScript: {N_JavaScript}, Ruby: {N_Ruby}")

C: 2, JavaScript: 1, Ruby: 1

In [11]:
lst = [

{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },

{ 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },

{ 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },

{ 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
]
countC = 0
countJ = 0
countR = 0
for i in lst:
    language = i['language']
    if language == 'C':
        countC += 1
    elif language == 'JavaScript':
        countJ += 1
    elif language == 'Ruby':
        countR += 1
result = {'C': countC, 'JavaScript': countJ, 'Ruby': countR}
print(result)

{'C': 2, 'JavaScript': 1, 'Ruby': 1}

In [13]:
lst = [

{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },

{ 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },

{ 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },

{ 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
]
language_count = {}
for developer in lst:
    language = developer['language']
    if language in language_count:
        language_count[language] += 1
    else:
        language_count[language] = 1

print(language_count)

{'C': 2, 'JavaScript': 1, 'Ruby': 1}

In [14]:
lst = [

{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },

{ 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },

{ 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },

{ 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
]
langs = {"C": 0,
    "JavaScript": 0,
    "Ruby": 0,
    "Python": 0}
for dic in lst:
    language = dic["language"]
    if language in langs:
        langs[language] += 1
        print(langs)
print(langs)

{'C': 1, 'JavaScript': 0, 'Ruby': 0, 'Python': 0}
{'C': 1, 'JavaScript': 1, 'Ruby': 0, 'Python': 0}
{'C': 1, 'JavaScript': 1, 'Ruby': 1, 'Python': 0}
{'C': 2, 'JavaScript': 1, 'Ruby': 1, 'Python': 0}
{'C': 2, 'JavaScript': 1, 'Ruby': 1, 'Python': 0}

### Task 9

list1 = [

 { 'firstName': 'Daniel', 'lastName': 'J.', 'country': 'Aruba', 'continent': 'Americas', 'age': 42, 'language': 'JavaScript' },
  
  { 'firstName': 'Kseniya', 'lastName': 'T.', 'country': 'Belarus', 'continent': 'Europe', 'age': 22, 'language': 'JavaScript' },
  
  { 'firstName': 'Hanna', 'lastName': 'L.', 'country': 'Hungary', 'continent': 'Europe', 'age': 65, 'language': 'JavaScript' },
]

Your task is to return either:

    **true** if all developers in the list code in the same language; or
    **false** otherwise.

In [20]:
lst = [

{ 'firstName': 'Daniel', 'lastName': 'J.', 'country': 'Aruba', 'continent': 'Americas', 'age': 42, 'language': 'JavaScript' },

{ 'firstName': 'Kseniya', 'lastName': 'T.', 'country': 'Belarus', 'continent': 'Europe', 'age': 22, 'language': 'JavaScript' },

{ 'firstName': 'Hanna', 'lastName': 'L.', 'country': 'Hungary', 'continent': 'Europe', 'age': 65, 'language': 'JavaScript' }, ]
languages = {dev['language'] for dev in lst}
print(languages)
result = len(languages) == 1
print(result)

{'JavaScript'}
True

In [17]:
lst = [

{ 'firstName': 'Daniel', 'lastName': 'J.', 'country': 'Aruba', 'continent': 'Americas', 'age': 42, 'language': 'JavaScript' },

{ 'firstName': 'Kseniya', 'lastName': 'T.', 'country': 'Belarus', 'continent': 'Europe', 'age': 22, 'language': 'JavaScript' },

{ 'firstName': 'Hanna', 'lastName': 'L.', 'country': 'Hungary', 'continent': 'Europe', 'age': 65, 'language': 'JavaScript' }, ]
count = {}
for dev in lst:
    lang = dev['language']
    print(lang)
    if lang in count:
        count[lang] += 1
    else:
        count[lang] = 1
    print(count)
for lang in count:
    if count[lang] == len(lst):
        x = True
    else:
        x = False
print(x)

JavaScript
{'JavaScript': 1}
JavaScript
{'JavaScript': 2}
JavaScript
{'JavaScript': 3}
True

In [18]:
lst = [

{ 'firstName': 'Daniel', 'lastName': 'J.', 'country': 'Aruba', 'continent': 'Americas', 'age': 42, 'language': 'JavaScript' },

{ 'firstName': 'Kseniya', 'lastName': 'T.', 'country': 'Belarus', 'continent': 'Europe', 'age': 22, 'language': 'JavaScript' },

{ 'firstName': 'Hanna', 'lastName': 'L.', 'country': 'Hungary', 'continent': 'Europe', 'age': 65, 'language': 'JavaScript' }, ]
first_language = lst[0]['language']
result = True
for dev in lst:
    if dev['language'] != first_language:
        result = False
        break
print(result)

True