<a href="https://colab.research.google.com/github/JuliaBalakina/ALATA-2025/blob/main/Home_Assignment__due_22_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1**

You have two lists, the first contains the names of the guests, and the second contains their favorite dishes. You need to print out their preferences so that a sentence like “Eric loves borsch” is displayed. It is guaranteed that the lists are of the same length.

INPUT FORMAT:

 Two lines.

 The first line contains names separated by a space.

 The second line contains the names of the dishes separated by a space.

OUTPUT FORMAT:

 A set of strings like '{name} likes {dish}

Example:

Line1 = Peter Kate John

Line2 = Pudding Fish Cake

Output:
     
     Peter likes Pudding
     
     Kate likes Fish
     
     John likes Cake

In [3]:
name = input(). split()
dish = input(). split()
for i in range(len(name)):
    print(f"{name[i]} likes {dish[i]}")

Peter Kate John
Pudding Fish Cake
Peter likes Pudding
Kate likes Fish
John likes Cake

In [4]:
names = input().split()        # first (names)
dishes = input().split()       # second (dishes)
# use a loop to print each person's favorite dish
i = 0
while i < len(names):
    print(names[i], "likes", dishes[i])
    i += 1

Peter Kate John
Pudding Fish Cake
Peter likes Pudding
Kate likes Fish
John likes Cake

In [5]:
names =["Peter", "Kate", "John"]
dish =["Pudding", "Fish", "Cake"]
joint_list = []
for i in range(len(names)):
  joint_list.append((names[i], dish[i]))

for name, dish in joint_list:
 print(name + "  likes  " + dish)

Peter  likes  Pudding
Kate  likes  Fish
John  likes  Cake

In [6]:
names = input("enter the names: ").split()
dishes = input("enter the dishes: ").split()
if len(names) != len(dishes):
    print("names and dishes are not equal")
else:
    for i, name in enumerate(names):
        print(names[i], "likes", dishes[i])

enter the names: О Щ Р
enter the dishes: в п
names and dishes are not equal

**Task 2**

Given is a string. Your should return a list of all the indexes in the string that have capital letters.

For example, input:("HeLlO") should return the list [0, 2, 4].

In [8]:
given=input('Enter the word: ')
index=[]
for i in range(len(given)):
    if given[i].isupper():
      index.append(i)
print(index)

Enter the word: Hdgf
[0]

In [9]:
line = input()
new =[]
for i,p in enumerate(line):
    if p.isupper():
        new.append(i)
print(new)

DgT
[0, 2]

**Task 3**
The books variable stores a dictionary, the keys of which are the names of the books, and the values are the authors.

Write a program that takes a non-empty string as input and prints out all books for which the entered string is contained either in the title or in the author's name.

The search is case sensitive ("Harry" and "harry" are different queries).

If there is no match, the program does not output anything.

INPUT FORMAT:

Non-empty string OUTPUT FORMAT:

Authors and titles of books that satisfy the condition, each pair on a new line. EXAMPLE:

INPUT:

Harry

OUTPUT:

J.K. Rowling: Harry Potter and the Goblet of Fire

Harry Garrison: Indomitable Planet

In [1]:
books = {'The Silmarillion': 'John Tolkien',
         'Harry Potter and the Goblet of Fire': 'J.K. Rowling',
         'Indomitable Planet': 'Harry Garrison',
         'Man without a face' : 'Alfred Bester',
         'Alice in Wonderland': 'Lewis Carroll',
         "A Space Odyssey": "Arthur Clarke",
         'Dune': 'Frank Herbert',
         "Twenty Thousand Leagues Under the Sea": "Jules Verne",
         "Yankees from Connecticut at the court of King Arthur": "Mark Twain",
         "American Gods": "Neil Gaiman",
         "The Chronicles of Amber": "Roger Zelazny",
         'The Chronicles of Narnia': 'Clive S. Lewis',
         "War of the Worlds": "HG Wells"}
query = input()
#Go through all books and match the query against titles and author
for title, author in books.items():
    if query in title or query in author:
        print(f"{author}: {title}")

Harry
J.K. Rowling: Harry Potter and the Goblet of Fire
Harry Garrison: Indomitable Planet

In [2]:
books = {'The Silmarillion': 'John Tolkien',
         'Harry Potter and the Goblet of Fire': 'J.K. Rowling',
         'Indomitable Planet': 'Harry Garrison',
         'Man without a face' : 'Alfred Bester',
         'Alice in Wonderland': 'Lewis Carroll',
         "A Space Odyssey": "Arthur Clarke",
         'Dune': 'Frank Herbert',
         "Twenty Thousand Leagues Under the Sea": "Jules Verne",
         "Yankees from Connecticut at the court of King Arthur": "Mark Twain",
         "American Gods": "Neil Gaiman",
         "The Chronicles of Amber": "Roger Zelazny",
         'The Chronicles of Narnia': 'Clive S. Lewis',
         "War of the Worlds": "HG Wells"}
a = input()
for i in books:
  if a in i or a in books[i]:
    print(f"{books[i]} : {i}")

Harry
J.K. Rowling : Harry Potter and the Goblet of Fire
Harry Garrison : Indomitable Planet

**Task 4**

Examples:

"abcd" -> "A-Bb-Ccc-Dddd"

"RqaEzty" -> "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"

"cwAt" -> "C-Ww-Aaa-Tttt"

In [11]:
text = input("")
result = ""
i = 0
while i < len(text):
    letters = text[i].upper() + text[i].lower() * i
    print(letters)
    if result != "":
        result += "-"
    result += letters
    i += 1

print(result)

Fgh
F
Gg
Hhh
F-Gg-Hhh

In [15]:
word = input("Enter a word: ")
result = []
for i in range(len(word)):
    result.append(word[i].upper() + word[i].lower() * i)
    print(result)
print("-".join(result))

Enter a word: fgh
['F']
['F', 'Gg']
['F', 'Gg', 'Hhh']
F-Gg-Hhh

**Task 5**

"not picking" --> "pot nicking"

In [16]:
a,b = input().split()
print(b[0] + a[1:], a[0] + b[1:])

not picking
pot nicking

In [17]:
s = "not picking"
result_s = s.replace ('not','pot').replace ('picking','nicking')
print (result_s)

pot nicking

In [20]:
words = input().split()
first_word = list(words[0])
second_word = list(words[1])
first_word[0], second_word[0] = second_word[0], first_word[0]
print(''.join (first_word) + ' '+ ''.join(second_word))

cat dog
dat cog

Write an algorithm that takes an array and moves all of the zeros to the end, preserving the order of the other elements.

Input: 1,2,0,6,0,8

Output: 1,2,6,8,0,0

In [21]:
s = input()
numbers = []
for i in s.split(','):
    numbers.append(int(i))

non_zeros = []
zeros = []

for j in numbers:
    if j != 0:
        non_zeros.append(j)
    else:
        zeros.append(j)
result = non_zeros + zeros

print(result)

1,2,0,6,0,8
[1, 2, 6, 8, 0, 0]

In [22]:
arr = [1, 2, 0, 6, 0, 8]
result = []
for num in arr:
    if num != 0:
        result.append(num)
for num in arr:
    if num == 0:
        result.append(num)
print(result)

[1, 2, 6, 8, 0, 0]

Your task is to sort a given string. Each word in the string will contain a single number. This number is the position the word should have in the result.

Note: Numbers can be from 1 to 9.

So 1 will be the first word (not 0)

"is2 Thi1s T4est 3a" --> "Thi1s is2 3a T4est"

"4of Fo1r pe6ople g3ood th5e the2" --> "Fo1r the2 g3ood 4of th5e pe6ople"